@model Diploma.Models.ViewModels.AccountDetailsViewModel

@{
    ViewData["Title"] = "Account Details";
}

<h4>Account Details</h4>

@if (ViewBag.UpdateSuccessful != null && ViewBag.UpdateSuccessful)
{
    <h4 color="green">Details updated successfully!</h4>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateAccountDetails">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthdayDate" class="control-label"></label>
                <input asp-for="BirthdayDate" class="form-control" />
                <span asp-validation-for="BirthdayDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacebookProfileLink" class="control-label"></label>
                <input asp-for="FacebookProfileLink" class="form-control" />
                <span asp-validation-for="FacebookProfileLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkedinProfileLink" class="control-label"></label>
                <input asp-for="LinkedinProfileLink" class="form-control" />
                <span asp-validation-for="LinkedinProfileLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update Account Details" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

