@using Microsoft.AspNet.Identity

@if (User.Identity.IsAuthenticated) {

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class="nav navbar-nav navbar-right" })) {
        @Html.AntiForgeryToken()
         <a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a>
    }

} else {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
