@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Kiev, Sechienova 6, 16 dormitory
</address>

<address>
    <strong>Support:</strong> <a href="mailto:yehor.chernyshenko@gmail.com">yehor.chernyshenko@gmail.com</a><br />
</address>
