@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <a asp-area="" asp-controller="RouteInfoes" asp-action="Create">Create new route</a>

    <p>@User.Identity.Name</p>
 
    <form method="post" asp-controller="Account" asp-action="LogOff">
        <input type="submit" value="LogOff" />
    </form>
}